<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirm</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <p class = "error">{% if error %} {{ error }} {% endif %}</p>
    <form action="/confirm-code" method="post">
        <label for="code">confirm your code:</label><br />
        <input type="text" id="code" name="code" /><br /><br />
        <input type="submit" />
      </form>
</body>
</html>