<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>did your forget your Password</title>
  </head>

  <body>
    <p class="title">Password recovery page</p>

    <p class="error">{% if error %} {{ error }} {% endif %}</p>
    <p class="error">{% if sucsess %} {{ sucsess }} {% endif %}</p>
    <form action="/forget-password" method="post">
      <label for="email">email:</label><br />
      <input type="text" id="email" name="email" /><br /><br />
      <input type="submit" />
    </form>
    <script src="script.js"></script>
  </body>
</html>
