<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>did your forget your Password</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <p class="title">Password recovery page</p>
    
    <p class = "error">{% if error %} {{ error }} {% endif %}</p>
    <form action="/forget-password" method="post">
      <label for="username">Username:</label><br />
      <input type="text" id="email" name="email" /><br /><br />
      <input type="submit" />
    </form>
    <script src="script.js"></script>
  </body>
</html>
